body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/28/09/54/fireworks-1285269_1280.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(124, 174, 254, 0.5);
  border: 3mm solid gold;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #333;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gold;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#winnerButton {
  background-color: #333;
  color: #fff;
}

.buttons-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end; /* Los botones se alinearán hacia la derecha */
}

.buttons-container button {
  margin: 0 5px;
  padding: 5px;
  font-size: 12px; /* Tamaño pequeño de los botones */
  width: 30px; /* Tamaño reducido */
  height: 30px; /* Tamaño reducido */
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  border: 1px solid gold;
}

.glass-box {
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2mm solid gold;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #001f3f;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

li button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#digitalBoard {
  margin-top: 20px
