body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/28/09/54/fireworks-1285269_1280.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(124, 174, 254, 0.5); /* Fondo azul con transparencia para efecto de cristal */
  border: 3mm solid gold; /* Bordes dorados de 3mm */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #333;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gold;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.glass-box {
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparencia para efecto de cristal */
  border: 2mm solid gold; /* Bordes dorados de 2mm */
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #001f3f; /* Azul rey */
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#digitalBoard {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  width: 65%; /* 65% del ancho máximo */
  max-width: 400px; /* 75% de 600px */
  height: 45px; /* La mitad de la altura anterior */
  margin: 20px auto; /* Centramos la caja */
  color: #333;
  background-color: rgba(249, 249, 249, 0.9); /* Fondo casi transparente */
  padding: 20px;
  border-radius: 10px; /* Igual que la caja de los participantes */
  border: 2mm solid gold; /* Bordes dorados */
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5); /* Sombra similar a la caja de los participantes */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necesario para posicionar los iconos */
}

#digitalBoard.winner {
  background-color: #FFD700; /* Color dorado */
  color: #000;
}

#digitalBoard.winner::after {
  content: "🎉🎉🎁🎁";
  position: absolute;
  font-size: 30px;
  top: -20px; /* Ajusta los iconos para que queden un poco más arriba del texto y un poco mas a la izquierda */
  left: 75%;
  transform: translateX(-75%);
  animation: sparkle 1s infinite alternate;
}

@keyframes sparkle {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.2);
  }
}

/* Media Query para vistas móviles */
@media screen and (max-width: 600px) {
  .main-container {
    margin: 20px;
    padding: 15px;
  }

  #digitalBoard {
    max-width: 90%; /* Ajusta el ancho al 90% del contenedor principal */
    font-size: 18px;
    padding: 15px;
  }

  #digitalBoard.winner::after {
    font-size: 18px;
    top: -20px; /* Ajuste adicional para móviles */
  }
}
